services:
    postgres:
        image: postgres:16
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: mydb
        ports:
            - "5432:5432"

    backend:
        build: ./backend
        ports:
            - "4000:4000"
        env_file:
            - ./backend/.env
        depends_on:
            - postgres
